# 1. Default to ignoring everything in the vault
*

# 2. But, DO NOT ignore the Public folder or its contents
!/Public/
!/Public/**

# 3. (THE FIX) DO NOT ignore the .github folder or its contents
!/.github/
!/.github/**

# 4. DO NOT ignore the Quartz config files
!/quartz/
!/quartz/**
!/scripts/
!/scripts/**
!/package.json
!/package-lock.json
!/quartz.config.ts
!/quartz.layout.ts
!/tsconfig.json
!/scripts/
!/scripts/**

# 5. DO ignore the heavy node_modules folder
/node_modules
