.font-family-toggle {
  cursor: pointer;
  padding: 0;
  position: relative;
  background: none;
  border: none;
  width: 20px;
  height: 20px;
  margin: 0;
  text-align: center;
  flex-shrink: 0;
  color: var(--darkgray);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  transition: color 0.1s ease;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: var(--secondary);
  }
}

