name: Deploy Quartz site to GitHub Pages

on:
  push:
    branches:
      - main # <--- 确认你的 Git 分支是 main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history
      - uses: actions/setup-node@v4
        with:
          node-version: 22 # uses nvmrc or version specified here
          cache: "npm"
      - name: Install dependencies
        run: npm install
      - name: Build Quartz
        run: npm run docs
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: "public" # build output

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
